h2 {
    padding: 0;
    letter-spacing: 1px;
    margin-top: calc(1vw + 32px);
    margin-bottom: 10px;
}

h3 {
    text-align: justify;
    font-size: 18px;
    margin-top: 20px;
}

iframe {
    width: 100%;
}

[data-testid="stTable"] {
    margin: 0;
    padding: 0;
}

th.blank, th.row_heading {
    display: none;
}

.col_heading.col0 {
    min-width: 140px;
}

iframe[srcdoc*="navigationTabs"] {
    height: 20px
}

[data-testid="stHorizontalBlock"] {
    align-items: end;
}
