h2 {
    padding: 0;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

iframe[srcdoc*="navigationTabs"] {
    height: calc(1vw + 80px);
}

iframe {
    width: 100%;
}

@media only screen and (max-width: 575px){

    
}