h2{
    padding: 0;
    letter-spacing: 1px;
    margin: calc(2vw + 24px) auto 16px auto ;
}

h3 {
    padding: 0;
    font-size: 22px;
}

p {
    font-size: 17px;
    margin: 5px auto;
    text-align: justify;
    letter-spacing: 0.5px;
}

th, td {
    font-size: 14px;
}

th {
    background-color: #fafafd;
}

th.blank, th.row_heading {
    display: none;
}

.css-ocqkz7 {
    gap: 2rem;
}

[data-testid="stImage"] {
    margin: auto;
    margin-top: calc(1.5vw + 20px);
}

iframe[srcdoc*="navigationTabs"] {
    height: 24px
}

[data-testid="column"] {
    display: flex;
    align-items: center;
}
