h2{
    text-align: center;
    padding: 0;
    letter-spacing: 1px;
}

h3 {
    margin: calc(2.5vw + 16px) auto 5px auto;
    padding: 0;
    font-size: 22px;
}

p {
    font-size: 17px;
    margin: 5px auto;
    text-align: justify;
    letter-spacing: 0.5px;
}

[data-testid="stImage"] {
    margin: 20px auto;
}

th, td {
    font-size: 14px;
}

th {
    background-color: #fafafd;
}

th.blank, th.row_heading {
    display: none;
}

iframe[srcdoc*="navigationTabs"] {
    height: calc(1vw + 80px);
}